:root {
    --primary-color: #e9edff;
    --secondary-color:rgba(40, 108, 185, 0.879);
    --button-bg-color: #1d66b4;
    --button-hover-bg-color: #4a97e9;
    --input-bg-color: #020202;
    --input-border-color: #ddd;
    --input-focus-border-color: #0056b3;
    --background-color:rgba(0, 119, 255, 0.879);
    
}

body {
    font-family: "Josefin Sans";
    margin: 0;
    padding: 0;
    background-color: rgba(7, 2, 53, 0.879);
    background-image: url(../imagenes/fondo.jpeg) ;
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en el fondo */
    color: black;
    text-align: center;
    
}

h1 {
    color: black;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    max-width: 400px;
    background: rgba(0, 119, 255, 0.879);

    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

label {
    margin: 10px 0 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
}

input:focus {
    border-color: var(--input-focus-border-color);
    outline: none;
}

button {
    background-color: var(--button-bg-color);
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--button-hover-bg-color);
}

a {
    display: block;
    margin-top: 20px;
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    max-width: 800px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}


