  
:root {
    --primary-color: #00027a; 
    --secondary-color: #00027ae7;
    --accent-color: #05091bb0; 
    --background-color: #F4F4F4; 
    --text-color: #333; 
    --text-light-color: #e9edff; 
    --panel-bg-color: rgba(0, 0, 0, 0.637);
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    overflow-x: hidden;
}

.contenedor-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--text-light-color); 
    z-index: 1000; 
}

header {
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}


nav#nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: var(--secondary-color);
}

nav#nav .btn {
    color: var(--text-light-color); 
    padding: 10px 20px;
    text-decoration: none;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s;
}


nav#nav .btn:hover {
    background-color: var(--accent-color);
}

.cuartos {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    padding-top: 80px; 
    padding-bottom: 20px;
    padding-left: 0; 
    padding-right: 0; 
    max-width: 100%; 
    margin: 0; 
    background-image: url('../imagenes/fondo.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: var(--text-light-color); 
    min-height: 100vh; 
}

.accordion {
    background-color: var(--secondary-color);
    color: var(--text-light-color); 
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

.accordion.active {
    background-color: var(--primary-color); 
}

.panel {
    padding: 0 18px;
    display: none; 
    overflow: hidden;
    border-top: 1px solid #ddd;
    margin-bottom: 10px;
}

.panel h3 {
    margin-top: 0;
}

.panel p {
    margin: 10px 0;
}

.vertical-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.vertical-text {
    width: 100%;
    max-width: 600px;
    background: rgba(0, 0, 0, 0.5); 
    color: var(--text-light-color);
    padding: 20px;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .contenedor-header {
        position: relative; /
    }
    
    .cuartos {
        padding-top: 60px; 
    }
}
