<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>INICIO</title>

</head>
<body>
    <h1 class="title">Estadísticas copa America 2024</h1>
    <div class="box">
        <h3>Fase de Grupos</h3>
        <!-- Grupo A -->
        <div class="box-group">
            <fieldset>
                <legend>Grupo A</legend>
                <ul>
                    <li class="list--element">Argentina</li>
                    <li class="list--element">Canada</li>
                    <li class="list--element">Chile</li>
                    <li class="list--element">Perú</li>
                </ul>
        </fieldset>
        </div>
        
        <!-- Grupo B -->
        <div class="box-group">
            <fieldset>
                <legend>Grupo B</legend>
                <ul>
                    <li class="list--element">Venezuela</li>
                    <li class="list--element">Ecuador</li>
                    <li class="list--element">Mexico</li>
                    <li class="list--element">Jamaica</li>
                </ul>
        </fieldset>
        </div>

        <!-- Grupo C -->
        <div class="box-group">
            <fieldset>
                <legend>Grupo C</legend>
                <ul class="box-group__list">
                    <li class="list--element">Uruguay</li>
                    <li class="list--element">Panama</li>
                    <li class="list--element">Estados Unidos</li>
                    <li class="list--element">Bolivia</li>
                </ul>
        </fieldset>
        </div>

        <!-- Grupo D -->
        <div class="box-group">
            <fieldset>
                <legend>Grupo D</legend>
                <ul>
                    <li class="list--element">Colombia</li>
                    <li class="list--element">Brasil</li>
                    <li class="list--element">Costa Rica</li>
                    <li class="list--element">Paraguay</li>
                </ul>
        </fieldset>
        </div>
    </div>
    <!-- FIXTURE -->
    <h3 class="fixture--title">FIXTURE</h3>
    

</body>
</html>