<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>INICIO</title>

</head>
<body>
    <div class="header">
        <h1 class="title">Copa America 2024</h1>
        <ul class="team-list">
            <li class="item-logo"><a href=""><div class="logo-circle"><img alt="logo argentina" src="/static/imagenes/argentina.png"></div></a></li>
            <li class="item-logo"><a href=""><div class="logo-circle"><img alt="logo bolivia" src="/static/imagenes/bolivia_640.png"></div></a></li>
            <li class="item-logo"><a href=""><div class="logo-circle"><img alt="logo brasil" src="/static/imagenes/brazil_640.png"></div></a></li>
            <li class="item-logo"><a href=""><div class="logo-circle"><img alt="logo canada" src="/static/imagenes/canada_640.png"></div></a></li>
            <li class="item-logo"><a href=""><div class="logo-circle"><img alt="logo chile" src="/static/imagenes/chile_640.png"></div></a></li>
            <li class="item-logo"><a href=""><div class="logo-circle"><img alt="logo colombia" src="/static/imagenes/colombia_640.png"></div></a></li>
            <li class="item-logo"><a href=""><div class="logo-circle"><img alt="logo costa rica" src="/static/imagenes/costa_rica_640.png"></div></a></li>
            <li class="item-logo"><a href=""><div class="logo-circle"><img alt="logo ecuador" src="/static/imagenes/ecuador_640.png"></div></a></li>
            <li class="item-logo"><a href=""><div class="logo-circle"><img alt="logo jamaica" src="/static/imagenes/jamaica_640.png"></div></a></li>
            <li class="item-logo"><a href=""><div class="logo-circle"><img alt="logo mexico" src="/static/imagenes/mexico_640.png"></div></a></li>
            <li class="item-logo"><a href=""><div class="logo-circle"><img alt="logo panama" src="/static/imagenes/panama3.png"></div></a></li>
            <li class="item-logo"><a href=""><div class="logo-circle"><img alt="logo peru" src="/static/imagenes/peru_640.png"></div></a></li>
            <li class="item-logo"><a href=""><div class="logo-circle"><img alt="logo estados unidos" src="/static/imagenes/united_states_of_america_640.png"></div></a></li>
            <li class="item-logo"><a href=""><div class="logo-circle"><img alt="logo uruguay" src="/static/imagenes/uruguay_640.png"></div></a></li>
            <li class="item-logo"><a href=""><div class="logo-circle"><img alt="logo venezuela" src="/static/imagenes/venezuela_640.png"></div></a></li>
            <li class="item-logo"><a href=""><div class="logo-circle"><img alt="logo paraguay" src="/static/imagenes/paraguay.png"></div></a></li>
        </ul>
        <div><p class="header--pie">Información de cada selección</p></div>

    </div>

    <div class="box">
        <table class="tabla">
            <thead >
                <tr class="table-title"><th><h2>Fase de grupos</h2></th></tr>
                <tr class="table-title"><th><h3>Grupo A - Fecha 1</h3></th></tr>
            </thead>
            <tbody class="table--cuerpo">
                <tr class="partido">
                    <td class="escudo_nombre"><div class="circulo"><img src="/static/imagenes/Escudos/argentina2.png"></div><span>ARG</span></td>
                    <td class="escudo_nombre"><p class="numero">2</p>VS<p class="numero">0</p></td>
                    <td class="escudo_nombre"><span>CAN</span><div class="circulo"><img src="/static/imagenes/Escudos/canada.png"></div></td>
                    <td class="escudo_nombre link" ><a href="">+INFO</td>
                </tr>
                <tbody class="table--cuerpo">
                    <tr class="partido">
                        <td class="escudo_nombre"><div class="circulo"><img src="/static/imagenes/Escudos/peru.png"></div><span>PER</span></td>
                        <td class="escudo_nombre"><p class="numero">0</p>VS<p class="numero">0</p></td>
                        <td class="escudo_nombre"><span>CHI</span><div class="circulo"><img src="/static/imagenes/Escudos/chile.png"></div></td>
                        <td class="escudo_nombre link" ><a href="">+INFO</td>
                    </tr>
            </tbody>
            <thead >
                <tr class="table-title"><th><h3>Grupo A - Fecha 2</h3></th></tr>
            </thead>
            <tbody class="table--cuerpo">
                <tr class="partido">
                    <td class="escudo_nombre"><div class="circulo"><img src="/static/imagenes/Escudos/peru.png"></div><span>PER</span></td>
                    <td class="escudo_nombre"><p class="numero">0</p>VS<p class="numero">1</p></td>
                    <td class="escudo_nombre"><span>CAN</span><div class="circulo"><img src="/static/imagenes/Escudos/canada.png"></div></td>
                    <td class="escudo_nombre link" ><a href="">+INFO</td>
                </tr>
                <tbody class="table--cuerpo">
                    <tr class="partido">
                        <td class="escudo_nombre"><div class="circulo"><img src="/static/imagenes/Escudos/chile.png"></div><span>CHI</span></td>
                        <td class="escudo_nombre"><p class="numero">0</p>VS<p class="numero">1</p></td>
                        <td class="escudo_nombre"><span>ARG</span><div class="circulo"><img src="/static/imagenes/Escudos/argentina2.png"></div></td>
                        <td class="escudo_nombre link" ><a href="">+INFO</td>
                    </tr>
            </tbody>
            <thead >
                <tr class="table-title"><th><h3>Grupo A - Fecha 3</h3></th></tr>
            </thead>
            <tbody class="table--cuerpo">
                <tr class="partido">
                    <td class="escudo_nombre"><div class="circulo"><img src="/static/imagenes/Escudos/argentina2.png"></div><span>ARG</span></td>
                    <td class="escudo_nombre"><p class="numero">2</p>VS<p class="numero">0</p></td>
                    <td class="escudo_nombre"><span>PER</span><div class="circulo"><img src="/static/imagenes/Escudos/peru.png"></div></td>
                    <td class="escudo_nombre link" ><a href="">+INFO</td>
                </tr>
                <tbody class="table--cuerpo">
                    <tr class="partido">
                        <td class="escudo_nombre"><div class="circulo"><img src="/static/imagenes/Escudos/canada.png"></div><span>CAN</span></td>
                        <td class="escudo_nombre"><p class="numero">0</p>VS<p class="numero">0</p></td>
                        <td class="escudo_nombre"><span>CHI</span><div class="circulo"><img src="/static/imagenes/Escudos/chile.png"></div></td>
                        <td class="escudo_nombre link" ><a href="">+INFO</td>
                    </tr>
            </tbody>
<!-- ---------------------------------------------------------------------------------------------------------------------------------------------- -->
            <thead >
                <tr class="table-title"><th><h3>Grupo B - Fecha 1</h3></th></tr>
            </thead>
            <tbody class="table--cuerpo">
                <tr class="partido">
                    <td class="escudo_nombre"><div class="circulo"><img src="/static/imagenes/Escudos/ecuador.png"></div><span>ECU</span></td>
                    <td class="escudo_nombre"><p class="numero">1</p>VS<p class="numero">2</p></td>
                    <td class="escudo_nombre"><span>VEN</span><div class="circulo"><img src="/static/imagenes/Escudos/venezuela.png"></div></td>
                    <td class="escudo_nombre link" ><a href="">+INFO</td>
                </tr>
                <tbody class="table--cuerpo">
                    <tr class="partido">
                        <td class="escudo_nombre"><div class="circulo"><img src="/static/imagenes/Escudos/mexico.png"></div><span>MEX</span></td>
                        <td class="escudo_nombre"><p class="numero">1</p>VS<p class="numero">0</p></td>
                        <td class="escudo_nombre"><span>JAM</span><div class="circulo"><img src="/static/imagenes/Escudos/jamaica.png"></div></td>
                        <td class="escudo_nombre link" ><a href="">+INFO</td>
                    </tr>
            </tbody>
            <thead >
                <tr class="table-title"><th><h3>Grupo B - Fecha 2</h3></th></tr>
            </thead>
            <tbody class="table--cuerpo">
                <tr class="partido">
                    <td class="escudo_nombre"><div class="circulo"><img src="/static/imagenes/Escudos/ecuador.png"></div><span>ECU</span></td>
                    <td class="escudo_nombre"><p class="numero">3</p>VS<p class="numero">1</p></td>
                    <td class="escudo_nombre"><span>JAM</span><div class="circulo"><img src="/static/imagenes/Escudos/jamaica.png"></div></td>
                    <td class="escudo_nombre link" ><a href="">+INFO</td>
                </tr>
                <tbody class="table--cuerpo">
                    <tr class="partido">
                        <td class="escudo_nombre"><div class="circulo"><img src="/static/imagenes/Escudos/venezuela.png"></div><span>VEN</span></td>
                        <td class="escudo_nombre"><p class="numero">1</p>VS<p class="numero">0</p></td>
                        <td class="escudo_nombre"><span>MEX</span><div class="circulo"><img src="/static/imagenes/Escudos/mexico.png"></div></td>
                        <td class="escudo_nombre link" ><a href="">+INFO</td>
                    </tr>
            </tbody>
            <thead >
                <tr class="table-title"><th><h3>Grupo B - Fecha 3</h3></th></tr>
            </thead>
            <tbody class="table--cuerpo">
                <tr class="partido">
                    <td class="escudo_nombre"><div class="circulo"><img src="/static/imagenes/Escudos/mexico.png"></div><span>MEX</span></td>
                    <td class="escudo_nombre"><p class="numero">0</p>VS<p class="numero">0</p></td>
                    <td class="escudo_nombre"><span>ECU</span><div class="circulo"><img src="/static/imagenes/Escudos/ecuador.png"></div></td>
                    <td class="escudo_nombre link" ><a href="">+INFO</td>
                </tr>
                <tbody class="table--cuerpo">
                    <tr class="partido">
                        <td class="escudo_nombre"><div class="circulo"><img src="/static/imagenes/Escudos/jamaica.png"></div><span>JAM</span></td>
                        <td class="escudo_nombre"><p class="numero">0</p>VS<p class="numero">3</p></td>
                        <td class="escudo_nombre"><span>VEN</span><div class="circulo"><img src="/static/imagenes/Escudos/venezuela.png"></div></td>
                        <td class="escudo_nombre link" ><a href="">+INFO</td>
                    </tr>
            </tbody>
            <!-- ---------------------------------------------------------------------------------- -->
            <thead >
                <tr class="table-title"><th><h3>Grupo C - Fecha 1</h3></th></tr>
            </thead>
            <tbody class="table--cuerpo">
                <tr class="partido">
                    <td class="escudo_nombre"><div class="circulo"><img src="/static/imagenes/Escudos/usa.png"></div><span>USA</span></td>
                    <td class="escudo_nombre"><p class="numero">2</p>VS<p class="numero">0</p></td>
                    <td class="escudo_nombre"><span>BOL</span><div class="circulo"><img src="/static/imagenes/Escudos/bolivia.png"></div></td>
                    <td class="escudo_nombre link" ><a href="">+INFO</td>
                </tr>
                <tbody class="table--cuerpo">
                    <tr class="partido">
                        <td class="escudo_nombre"><div class="circulo"><img src="/static/imagenes/Escudos/uruguay.png"></div><span>URU</span></td>
                        <td class="escudo_nombre"><p class="numero">3</p>VS<p class="numero">1</p></td>
                        <td class="escudo_nombre"><span>PAN</span><div class="circulo"><img src="/static/imagenes/Escudos/panama.png"></div></td>
                        <td class="escudo_nombre link" ><a href="">+INFO</td>
                    </tr>
            </tbody>
            <thead >
                <tr class="table-title"><th><h3>Grupo C - Fecha 2</h3></th></tr>
            </thead>
            <tbody class="table--cuerpo">
                <tr class="partido">
                    <td class="escudo_nombre"><div class="circulo"><img src="/static/imagenes/Escudos/panama.png"></div><span>PAN</span></td>
                    <td class="escudo_nombre"><p class="numero">2</p>VS<p class="numero">1</p></td>
                    <td class="escudo_nombre"><span>USA</span><div class="circulo"><img src="/static/imagenes/Escudos/usa.png"></div></td>
                    <td class="escudo_nombre link" ><a href="">+INFO</td>
                </tr>
                <tbody class="table--cuerpo">
                    <tr class="partido">
                        <td class="escudo_nombre"><div class="circulo"><img src="/static/imagenes/Escudos/uruguay.png"></div><span>URU</span></td>
                        <td class="escudo_nombre"><p class="numero">5</p>VS<p class="numero">0</p></td>
                        <td class="escudo_nombre"><span>BOL</span><div class="circulo"><img src="/static/imagenes/Escudos/bolivia.png"></div></td>
                        <td class="escudo_nombre link" ><a href="">+INFO</td>
                    </tr>
            </tbody>
            <thead >
                <tr class="table-title"><th><h3>Grupo C - Fecha 3</h3></th></tr>
            </thead>
            <tbody class="table--cuerpo">
                <tr class="partido">
                    <td class="escudo_nombre"><div class="circulo"><img src="/static/imagenes/Escudos/usa.png"></div><span>USA</span></td>
                    <td class="escudo_nombre"><p class="numero">0</p>VS<p class="numero">1</p></td>
                    <td class="escudo_nombre"><span>URU</span><div class="circulo"><img src="/static/imagenes/Escudos/uruguay.png"></div></td>
                    <td class="escudo_nombre link" ><a href="">+INFO</td>
                </tr>
                <tbody class="table--cuerpo">
                    <tr class="partido">
                        <td class="escudo_nombre"><div class="circulo"><img src="/static/imagenes/Escudos/bolivia.png"></div><span>BOL</span></td>
                        <td class="escudo_nombre"><p class="numero">1</p>VS<p class="numero">3</p></td>
                        <td class="escudo_nombre"><span>PAN</span><div class="circulo"><img src="/static/imagenes/Escudos/panama.png"></div></td>
                        <td class="escudo_nombre link" ><a href="">+INFO</td>
                    </tr>
            </tbody>
<!-- ---------------------------------------------------------------------------------------------------------------------------------------------- -->
            <thead >
                <tr class="table-title"><th><h3>Grupo D - Fecha 1</h3></th></tr>
            </thead>
            <tbody class="table--cuerpo">
                <tr class="partido">
                    <td class="escudo_nombre"><div class="circulo"><img src="/static/imagenes/Escudos/colombia.png"></div><span>COL</span></td>
                    <td class="escudo_nombre"><p class="numero">2</p>VS<p class="numero">1</p></td>
                    <td class="escudo_nombre"><span>PAR</span><div class="circulo"><img src="/static/imagenes/Escudos/paraguay.png"></div></td>
                    <td class="escudo_nombre link" ><a href="">+INFO</td>
                </tr>
                <tbody class="table--cuerpo">
                    <tr class="partido">
                        <td class="escudo_nombre"><div class="circulo"><img src="/static/imagenes/Escudos/brasil.png"></div><span>BRA</span></td>
                        <td class="escudo_nombre"><p class="numero">0</p>VS<p class="numero">0</p></td>
                        <td class="escudo_nombre"><span>CRC</span><div class="circulo"><img src="/static/imagenes/Escudos/costa_rica.png"></div></td>
                        <td class="escudo_nombre link" ><a href="">+INFO</td>
                    </tr>
            </tbody>
            <thead >
                <tr class="table-title"><th><h3>Grupo D - Fecha 2</h3></th></tr>
            </thead>
            <tbody class="table--cuerpo">
                <tr class="partido">
                    <td class="escudo_nombre"><div class="circulo"><img src="/static/imagenes/Escudos/colombia.png"></div><span>COL</span></td>
                    <td class="escudo_nombre"><p class="numero">3</p>VS<p class="numero">0</p></td>
                    <td class="escudo_nombre"><span>CRC</span><div class="circulo"><img src="/static/imagenes/Escudos/costa_rica.png"></div></td>
                    <td class="escudo_nombre link" ><a href="">+INFO</td>
                </tr>
                <tbody class="table--cuerpo">
                    <tr class="partido">
                        <td class="escudo_nombre"><div class="circulo"><img src="/static/imagenes/Escudos/paraguay.png"></div><span>PAR</span></td>
                        <td class="escudo_nombre"><p class="numero">1</p>VS<p class="numero">4</p></td>
                        <td class="escudo_nombre"><span>BRA</span><div class="circulo"><img src="/static/imagenes/Escudos/brasil.png"></div></td>
                        <td class="escudo_nombre link" ><a href="">+INFO</td>
                    </tr>
            </tbody>
            <thead >
                <tr class="table-title"><th><h3>Grupo D - Fecha 3</h3></th></tr>
            </thead>
            <tbody class="table--cuerpo">
                <tr class="partido">
                    <td class="escudo_nombre"><div class="circulo"><img src="/static/imagenes/Escudos/brasil.png"></div><span>BRA</span></td>
                    <td class="escudo_nombre"><p class="numero">1</p>VS<p class="numero">1</p></td>
                    <td class="escudo_nombre"><span>COL</span><div class="circulo"><img src="/static/imagenes/Escudos/colombia.png"></div></td>
                    <td class="escudo_nombre link" ><a href="">+INFO</td>
                </tr>
                <tbody class="table--cuerpo">
                    <tr class="partido">
                        <td class="escudo_nombre"><div class="circulo"><img src="/static/imagenes/Escudos/costa_rica.png"></div><span>CRC</span></td>
                        <td class="escudo_nombre"><p class="numero">2</p>VS<p class="numero">1</p></td>
                        <td class="escudo_nombre"><span>PAR</span><div class="circulo"><img src="/static/imagenes/Escudos/paraguay.png"></div></td>
                        <td class="escudo_nombre link" ><a href="">+INFO</td>
                    </tr>
            </tbody>



        </table>

    <!-- FIXTURE -->
    <h3 class="bracket--title">BRACKET COPA AMERICA 2024</h3>
    
    <div class="conteiner">
        <!-- CUARTOS DE FINAL LADO IZQUIERDO -->
        <div class="conteiner--game game1">
            <div class="circle circle1"> <img src="/static/imagenes/argentina.png"> </div>
            <div class="circle circle2"><img src="/static/imagenes/ecuador_640.png"> </div>
            <!-- CARD CON INFO DEL PARTIDO -->
            <span class="tooltip--text">
                <div class="tooltip--text__card">
                    <h6 class="card--time">Jue, 04/07</h6>
                    <h7 class="card--title">Cuartos de final</h7>
                    <div class="card--block">
                        <p class="pais">Argentina <br><b class="number">1</b></p>
                        <p class="pais"><b class="versus">VS</b></p>
                        <p class="pais"> <b class="number">1</b><br>Ecuador</p>
                    </div>
                    <div class="card--block">
                        <p class="location">NRG Stadium - Houston, TX</p>
                    </div>
                </div>
            </span>
        </div>

        <div class="conteiner--game game2">
            <div class="circle circle3"><img src="/static/imagenes/venezuela_640.png"></div>
            <div class="circle circle4"><img src="/static/imagenes/canada_640.png"></div>
            <!-- CARD CON INFO DEL PARTIDO -->
            <span class="tooltip--text">
                <div class="tooltip--text__card">
                    <h6 class="card--time">Vie, 05/07</h6>
                    <h7 class="card--title">Cuartos de final</h7>
                    <div class="card--block">
                        <p class="pais">Venezuela<br><b class="number">1</b></p>
                        <p class="pais"><b class="versus">VS</b></p>
                        <p class="pais"> <b class="number">1</b><br>Canada</p>
                    </div>
                    <div class="card--block">
                        <p class="location">AT&T Stadium - Arlington, TX</p>
                    </div>
                </div>
            </span>
        </div>
        <!-- SEMIFINAL LADO IZQUIERDO -->
        <div class="conteiner--game game3">
            <div class="circle circle7"><img src="/static/imagenes/argentina.png"></div> 
            <div class="circle circle8"><img src="/static/imagenes/canada_640.png"></div>
            <!-- CARD CON INFO DEL PARTIDO -->
            <span class="tooltip--text">
                <div class="tooltip--text__card">
                    <h6 class="card--time">Mar, 09/07</h6>
                    <h7 class="card--title">Semifinal</h7>
                    <div class="card--block">
                        <p class="pais">Argentina<br><b class="number">2</b></p>
                        <p class="pais"><b class="versus">VS</b></p>
                        <p class="pais"> <b class="number">0</b><br>Canada</p>
                    </div>
                    <div class="card--block">
                        <p class="location">MetLife Stadium - East Rutherford, NJ</p>
                    </div>
                </div>
            </span>
        </div>
        <!-- CUARTOS DE FINAL LADO DERECHO -->
        <div class="conteiner--game game4">
            <div class="circle circle8"><img src="/static/imagenes/colombia_640.png"></div> 
            <div class="circle circle7"><img src="/static/imagenes/panama_640.png"></div>
            <!-- CARD CON INFO DEL PARTIDO -->
            <span class="tooltip--text">
                <div class="tooltip--text__card">
                    <h6 class="card--time">Sab, 06/07</h6>
                    <h7 class="card--title">Cuartos de final</h7>
                    <div class="card--block">
                        <p class="pais">Panama<br><b class="number">0</b></p>
                        <p class="pais"><b class="versus">VS</b></p>
                        <p class="pais"> <b class="number">5</b><br>Colombia</p>
                    </div>
                    <div class="card--block">
                        <p class="location">NRG Stadium - Houston, TX</p>
                    </div>
                </div>
            </span>
        </div>
        <div class="conteiner--game game5">
        <div class="circle circle9"><img src="/static/imagenes/uruguay_640.png"></div>
        <div class="circle circle10"><img src="/static/imagenes/brazil_640.png"></div>
        <!-- CARD CON INFO DEL PARTIDO -->
        <span class="tooltip--text">
            <div class="tooltip--text__card">
                <h6 class="card--time">Sab, 06/07</h6>
                <h7 class="card--title">Cuartos de final</h7>
                <div class="card--block">
                    <p class="pais">Uruguay<br><b class="number">0</b></p>
                    <p class="pais"><b class="versus">VS</b></p>
                    <p class="pais"> <b class="number">0</b><br>Brasil</p>
                </div>
                <div class="card--block">
                    <p class="location">Allegiant Stadium - Las Vegas, NV</p>
                </div>
            </div>
        </span>
        </div>
        <!-- SEMIFINAL LADO DERECHO-->
        <div class="conteiner--game game6">
        <div class="circle circle11"><img src="/static/imagenes/colombia_640.png"></div>
        <div class="circle circle12"><img src="/static/imagenes/uruguay_640.png"></div>
        <!-- CARD CON INFO DEL PARTIDO -->
        <span class="tooltip--text">
            <div class="tooltip--text__card">
                <h6 class="card--time">Mié, 10/07</h6>
                <h7 class="card--title">Semifinal</h7>
                <div class="card--block">
                    <p class="pais">Colombia<br><b class="number">1</b></p>
                    <p class="pais"><b class="versus">VS</b></p>
                    <p class="pais"> <b class="number">0</b><br>Uruguay</p>
                </div>
                <div class="card--block">
                    <p class="location">Bank of America Stadium - Charlotte, NC</p>
                </div>
            </div>
        </span>
        </div>
        <!-- FINAL -->
        <div class="conteiner--game game7">
        <h4 class="title--game">Final</h4>
        <div class="circle circle13"><img src="/static/imagenes/argentina.png"></div>
        <div class="circle circle14"><img src="/static/imagenes/colombia_640.png"></div>
        <!-- CARD CON INFO DEL PARTIDO -->
        <span class="tooltip--text">
            <div class="tooltip--text__card">
                <h6 class="card--time">Dom, 14/07</h6>
                <h7 class="card--title">Final</h7>
                <div class="card--block">
                    <p class="pais">Argentina <br><b class="number">1</b></p>
                    <p class="pais"><b class="versus">VS</b></p>
                    <p class="pais"> <b class="number">0</b><br>Colombia</p>
                </div>
                <div class="card--block">
                    <p class="location">Hard Rock Stadium - Miami, FL</p>
                </div>
            </div>
        </span>
        </div>
    </div>
    <div>a</div>
</body>
</html>