<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Portal</title>
    
</head>
<body>




<div class="container"> 
    <div class="row-logo">
        <div class="col-md-8">
            <img src="../static/image/logo (2).png" class="img-responsive">
        </div>
        
    </div>
    <div class="headd">
        <nav>
            <a href="#">Portada</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#">Copa América</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#">Noticias</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#">Estadísticas</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#">Datos importantes</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#">Fotos</a>&nbsp;&nbsp;&nbsp;&nbsp;

        </nav>
    </div><br><br><br><br><br>
    
    <div class="row">
        <div class="col-md-6-iz">
            <img src="../static/image/rev.jpg" alt="" class="img-responsive">
        </div>
        <div class="col-md-6d">
            <h2>Los Jugadores Revelación de la CONMEBOL Copa América 2024</h2>
            <p>Una lista de algunos de los jugadores revelación en la CONMEBOL Copa América 2024</p>
            <p>Un torneo del prestigio de la CONMEBOL Copa América™ suele marcar un antes y un después en la carrera de varios futbolistas.
            Los focos del mundo se posan sobre el torneo: Jon Aramburu, Richard Ríos, Maxi Araujo y Moise Bombito aprovecharon su oportunidad y salieron del torneo como figuras importantes.
            </p>
            <a href="">Leer más</a>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-6-iz">
            <img src="../static/image/juli.jpg" alt="" class="img-responsive">
        </div>
        <div class="col-md-6d">
            <h2>Los 6 jugadores de la CONMEBOL Copa América™ que están en los Juegos Olímpicos</h2>
            <p>Argentina, Paraguay y Estados Unidos participarán en París 2024 y tienen nombres que participaron en el torneo de selecciones más antiguo del mundo.</p>
            <p>Argentina se consagró campeón de la CONMEBOL Copa América 2024™ y tres de sus jugadores estarán en París: Julián Álvarez, Nicolás Otamendi y Gerónimo Rulli.</p>
            <a href="">Ver más</a>   
        </div>
    </div><br><br><br>

    <div class="carousel">
        <div class="carousel-images">
            <div class="carousel-item">
                <img src="../static/image/juli.a.webp" alt="Imagen 1">
                <div class="caption">"Las transferencias de las grandes figuras de la CONMEBOL Copa América 2024™" 
                    <a href="">Leer más</a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../static/image/toro.jpg" alt="Imagen 2">
                <div class="caption">"Los nuevos récords y las grandes hazañas de la CONMEBOL Copa América 2024™"
                    <a href="">Leer más</a>
                </div>
                
            </div>
            <div class="carousel-item">
                <img src="../static/image/toro1.webp" alt="Imagen 3">
                <div class="caption">"El máximo goleador de la CONMEBOL Copa América™"
                    <a href="">Leer más</a>
                </div>
            </div>
        </div>
        <button class="prev" onclick="changeImage(-1)">&#10094;</button>
        <button class="next" onclick="changeImage(1)">&#10095;</button>
    </div><br><br><br>

    <div class="noti">
        <div class="titulo"><h1>NOTICIAS</h1></div>
    </div>
    <div class="linea-horizontal"></div>
    <br><br>
    <div class="row"><br>
        <div class="col-md-3-a">
            <img src="../static/image/camp.jpg" alt="" class="img-responsive"><br>
            <h3>Todos los campeones de la CONMEBOL Copa América™ en la historia</h3>
            <p>Los equipos que han ganado cada una de las ediciones disputadas en el torneo de selecciones nacionales más antiguo del mundo, así como los equipos con más títulos en la competición.</p>
            <a href="">Ver más</a>
        </div>
        <div class="col-md-3-b">
            <img src="../static/image/claves.png.webp" height="40%" class="img-responsive"><br>
            
            <h3>5 claves del "superdomingo" de fútbol en el que coinciden las finales de la Copa América y la Eurocopa</h3>
            <p>Si te gusta el fútbol, este es un domingo perfecto para ti.
                Las finales de la Eurocopa y de la Copa América se disputan este 14 de julio: España e Inglaterra chocan en Berlín, mientras que Miami será sede del Argentina vs. Colombia.</p>
            <a href="">Ver más</a>
            </div>
        <div class="col-md-3-b">
            <img src="../static/image/hist.jpg.webp" alt="" class="img-responsive"><br>
            <h3>Copa América: la histórica decisión de designar a 8 mujeres para ser arbitras del torneo masculino (algo que la Eurocopa no hizo)</h3>
            <p>Comenzó la Copa América masculina, el torneo de selecciones de fútbol más antiguo del planeta.
                Y entre sus novedades hay una que resalta por encima de todas: a diferencia de la Eurocopa, que se realiza de forma paralela en el viejo continente, el torneo americano cuenta con ocho árbitras por primera vez en su historia.
                </p>
            <a href="">Ver más</a>
        </div>
        <div class="col-md-3-b">
            <img src="../static/image/entren.jpg.webp" alt="" class="img-responsive"><br>
            <h3>Copa América 2024: el entrenador que arbitró en el mismo torneo y otras 5 divertidas historias del máximo campeonato continental</h3>
            <p>Este jueves, 20 de junio, se inaugura la 48ª edición de la Copa América, el torneo continental de fútbol más antiguo del mundo.
                Estados Unidos será la sede del campeonato, al que llegarán Argentina y Uruguay empatados con el mayor número de títulos logrados, 15 cada uno, conseguidos a lo largo de sus participaciones
                </p>
            <a href="">Ver más</a>
        </div>
    </div><br><br><br><br><br>
    <div class="videos">
        <h1>VIDEOS</h1>
    </div>
    <div class="linea-horizontal"></div>
    <br><br>
    <div class="row">
        
        <div class="col-md-6-a">
            <iframe width="427" height="240" src="https://www.youtube.com/embed/QccxCbz-Bzg" title="TODOS LOS GOLES DE LAUTARO MARTÍNEZ | CONMEBOL COPA AMÉRICA USA 2024™" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h4>Todos los goles de Lautaro Martínez en la CONMEBOL Copa América USA 2024™</h4>
            <a href="">https://www.youtube.com/watch?v=QccxCbz-Bzg&t=8s</a>
        </div>
        <div class="col-md-6-b">
            <iframe width="427" height="240" src="https://www.youtube.com/embed/P_9nUzsB7jU" title="ARGENTINA 1-0 COLOMBIA | HIGHLIGHTS | CONMEBOL COPA AMÉRICA USA 2024™" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h4>ARGENTINA 1-0 COLOMBIA | HIGHLIGHTS | CONMEBOL COPA AMÉRICA USA 2024™</h4>
            <a href="">https://www.youtube.com/embed/P_9nUzsB7jU</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6-a">
            <iframe width="427" height="240" src="https://www.youtube.com/embed/Ucy8B-Eq2QY" title="¡AGÓNICA VICTORIA DE LA FURIA ROJA PARA SER EL CAMPEÓN DE LA EURO! | España 2-1 Inglaterra | RESUMEN" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h4>¡AGÓNICA VICTORIA DE LA FURIA ROJA PARA SER EL CAMPEÓN DE LA EURO! | España 2-1 Inglaterra | RESUMEN</h4>
            <a href="">https://www.youtube.com/embed/Ucy8B-Eq2QY</a>
        </div>
        <div class="col-md-6-b">
            <iframe width="427" height="240" src="https://www.youtube.com/embed/1tu_vRfWa2s?list=PLTRckBbIqcx2hMck4FSM0l1zftznbJN3d" title="¡REYES DE EUROPA! La CORONACIÓN COMPLETA de ESPAÑA CAMPEONA de la EURO 2024  en BERLIN" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h4>¡REYES DE EUROPA! La CORONACIÓN COMPLETA de ESPAÑA CAMPEONA de la EURO 2024 en BERLIN</h4>
            <a href="">https://www.youtube.com/embed/1tu_vRfWa2s?list=PLTRckBbIqcx2hMck4FSM0l1zftznbJN3d</a>
        </div>
    </div>
    
    
    
    <div class="row-logo1">
        <img src="../static/image/logo (2).png" class="img-responsive">
    </div>

    <div class="row-logo2">
        <img src="../static/image/icons8-facebook-48.png" alt="">
        <img src="../static/image/icons8-instagram-48.png" alt="">
        <img src="../static/image/icons8-twitterx-50.png" alt="">
        <img src="../static/image/icons8-youtube-48.png" alt="">
    </div>

</div>   
<script src="../static/javascript/script.js"></script> 
</body>
</html>